{% extends 'base.html' %} {% block main %}
<div class="container">
{% include 'partials/messages.html' %}
  <div class="row">
    <div class="col-12">
      <a
        href="{% url 'home' %}"
        class="text-end"
        style="color: #fff; font-size: 25px; text-decoration: none"
        ><i class="fas fa-arrow-left mt-5"></i
      ></a>
      <h1 class="text-center" style="color: #fff">Add Category</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto" style="height: auto; margin-top: 70px">
      <div>
        <form method="POST">
            {% csrf_token %}
            <div>
            {{form}}
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <button class="submit-button p-3 rounded-pill" type="submit">
                  Create
                </button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
