{% extends 'base.html' %} {% block main %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <a
        href="{% url 'home' %}"
        class="text-end"
        style="color: #fff; font-size: 25px; text-decoration: none"
        ><i class="fas fa-arrow-left mt-5"></i
      ></a>
      <h1 class="text-center" style="color: #fff">Detail</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-4">
          <ul class="text-start" style="list-style: none">
            <li
              style="
                font-size: 30px;
                color: #fff;
                text-transform: capitalize;
                padding-bottom: 3px;
                border-bottom: 2px #fff solid;
                width: auto;
              "
            >
              {{category}}
            </li>
          </ul>
        </div>
      </div>
      <ul class="text-center" style="list-style: number">
        {% for task in todo %}
        <li style="font-size: 20px; color: #fff; text-transform: capitalize; border-bottom: 2px #fff solid; margin-top: 5px;">
          {{task.todo}}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
